<div
  class="all"
  style="
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  "
>
  <%- include('./variables/boilerplate.ejs') %> <%-
  include('./variables/header.ejs') %>
  <div class="container">
    <div class="row">
      <h1>Hellow About Wolrd</h1>
      <p>
        This is Yurikaza Agencys dynimic news Website. This website refresh
        therself each every minutes with lates and topes news. You can see news
        about finance, sport and technology. If you are like that and wanna work
        with us pleas visit to yurikaza agency website.
      </p>
    </div>
  </div>
  <%- include('./variables/footer.ejs') %>
</div>
